.nav-page {
  @media (max-width: 950px) {
    margin: 50px 0 0 0;
  }
  @media (max-width: 700px) {
    margin: 30px 0 0 0;
  }
}
.wrapper__content {
  .title-text {
    h3 {
      padding: 0 0 10px 0;
    }
  }
  .contact__main {
    display: flex;
    justify-content: space-between;
    padding: 35px 50px 0;
    .contact__text {
      flex: 40% 0 0;
      h3 {
        font-size: 26px;
        color: #272727;
        margin: 5px 0 10px 0;
      }
      h4 {
        color: #272727;
        font-size: 22px;
        margin: 0;
      }
      h5 {
        color: #272727;
        margin: 0;
        font-size: 18px;
      }
      p {
        line-height: 22px;
        color: #272727;
      }
      .contact__contact .contact__item {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-weight: bold;
        }
      }
      .network {
        display: flex;
        max-width: 200px;
        justify-content: space-between;
        a {
          width: 25px;
          img {
            width: 100%;
          }
        }
      }
    }
    .contact__image {
      flex: 50% 0 0;
      .contact__map {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .contact__text {
        order: 2;
      }
    }
    @media (max-width: 425px) {
      .contact__image {
        .contact__map {
          height: 300px;
        }
      }
    }
  }
  // sdsdsddsd
  .navbar {
    // background: #252525;
    background: #eff2f6;
    transition: 0.2s;
    padding: 25px 0;
    .navber__menu {
      display: flex;
      justify-content: space-evenly;
      li {
        .navbar__item {
          color: rgb(66, 66, 66);
          transition: 1.4s;
          &:hover {
            color: #013559;
          }
        }
      }
    }
    @media (max-width: 950px) {
      display: flex;
      transform: translateY(3000px);
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 11;
      .navber__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin: 30px 0;
        }
      }
    }
  }
  .navbar.active {
    transform: translateY(-0);
  }
}
