.header {
  padding: 30px;
  background-color: #eff2f6;
  .header__container {
    display: flex;
    justify-content: space-between;
    .header__elem {
      display: flex;
      flex: 24% 0 0;
      gap: 20px;
      align-items: center;
      a {
        display: block;
        color: #464646;
        font-size: 14px;
        transition: 0.2s;
        &:hover {
          color: #013559;
        }
      }
      .header__logo {
        max-width: 204px;
        @media (max-width: 700px) {
          max-width: 120px;
        }
      }
      .header__icon {
        width: 28px;
      }
    }
    @media (max-width: 950px) {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      background-color: #eff2f6;
      padding-top: 20px;
      padding-bottom: 20px;
      z-index: 13;
      .h-elem-1,
      .h-elem-2,
      .h-elem-3 {
        display: none;
      }
      .burger {
        display: flex;
        align-self: center;
        width: 40px;
        height: 30px;
        position: relative;
        margin: 0 90px 0 0;
        z-index: 13;
        &:before,
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          background: #252525;
          transition: 0.2s;
        }
        &::after {
          bottom: 0;
        }
        span {
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          background: #252525;
          transition: 0.2s;
          top: 14px;
        }
      }
      .burger.all {
        span {
          transform: scale(0);
        }
        &::before {
          transition: 0.2s;
          top: 14px;
          transform: rotate(45deg);
        }
        &::after {
          transition: 0.2s;
          bottom: 14px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.main {
  .sectionHeader {
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    .swiper-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .swiper-wrapper {
        .swiper-slide {
          overflow: hidden;
          background-image: url(../img/slider-icon-2.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
      .swiper-button-prev::after,
      .swiper-button-next::after {
        display: none;
        font-size: 70px;
        color: #fff;
      }
    }
    .sectionHeader__container {
      position: relative;
      margin-top: 40px;
      z-index: 3;
      display: flex;
      gap: 100px;
      justify-content: center;
      .sectionHeader__content {
        flex: 450px 0 1;
        background: rgba(0, 0, 0, 0.55);
        border-radius: 5px;
        padding: 30px;
        color: #fff;
        h1 {
          font-size: 30px;
          margin: 0 0 10px 0;
          @media (max-width: 400px) {
            font-size: 24px;
          }
        }
      }
      .sectionHeader__form {
        flex: 280px 0 1;
        background: rgba(0, 0, 0, 0.55);
        text-align: center;
        border-radius: 5px;
        padding: 15px 20px;
        h2 {
          color: #fff;
          margin: 0;
          font-size: 25px;
          font-weight: 600;
        }
        .form {
          display: flex;
          margin: 16px 0 0 0;
          flex-direction: column;
          input {
            border-radius: 5px;
            padding: 12px 10px;
            color: #949494;
            border: none;
            &::placeholder {
              color: #949494;
            }
            &[type="submit"] {
              // background: #013559;
              background: #81afe4;
              font-size: 16px;
              cursor: pointer;
              color: #fff;
              transition: 0.2s;
              &:hover {
                // background: #113d5c;
                background: #5c9be4;
              }
            }
          }
          input + input {
            margin: 15px 0 0 0;
          }
        }
      }
      @media (max-width: 750px) {
        display: block;
        max-width: 400px;
        .sectionHeader__content {
          margin: 0 0 50px 0;
        }
      }
    }
  }
  .navbar {
    // background: #252525;
    background: #eff2f6;
    transition: 0.2s;
    padding: 25px 0;
    .navber__menu {
      display: flex;
      justify-content: space-evenly;
      li {
        .navbar__item {
          color: rgb(66, 66, 66);
          transition: 1.4s;
          &:hover {
            color: #013559;
          }
        }
      }
    }
    @media (max-width: 950px) {
      display: flex;
      transform: translateY(3000px);
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 11;
      .navber__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin: 30px 0;
        }
      }
    }
  }
  .navbar.active {
    transform: translateY(-0);
  }
  .services {
    position: relative;
    color: #fff;
    padding: 50px 0;
    .services__bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-attachment: fixed;
      background-image: url(../img/predpriyatie-metalloobrabotki.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px) brightness(40%);
    }
    .services__block-wrapper {
      .services__block {
        display: flex;
        gap: 30px;
        .services__image {
          display: inline-block;
          flex: 45% 0 1;
          transition: 0.2s;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            transition: 0.2s;
            overflow: hidden;
            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: 0.2s;
            height: 100%;
          }
          &:hover::before {
            background-color: rgba(0, 0, 0, 0.5);
          }
          .services__image-brightness {
            opacity: 0;
            transition: 0.2s;
          }
          &:hover .services__image-brightness {
            opacity: 1;
          }
          .services__image-brightness::before,
          .services__image-brightness::after {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(50% - 70px);
            width: 140px;
            height: 2px;
            background: #fff;
            @media (max-width: 400px) {
              width: 100px;
              left: calc(50% - 50px);
            }
          }
          .services__image-brightness::after {
            transform: rotate(90deg);
          }
        }
        .services__text {
          flex: 45% 0 1;
          h3 {
            font-weight: bold;
            font-size: 22px;
          }
          p {
            line-height: 22px;
          }
        }
        @media (max-width: 950px) {
          flex-direction: column;
          max-width: 550px;
          margin: 0 auto;
        }
      }
      .services__block + .services__block {
        margin: 40px 0 0 0;
        @media (max-width: 950px) {
          margin: 40px auto 0;
        }
      }
    }
  }
  .whyUs {
    padding: 50px 0 70px;
    // background: #292b37;
    color: #292929;
    background: #eff2f6;
    // color: #fff;
    text-align: center;
    .line {
      margin: 0 auto;
    }
    p {
      line-height: 25px;
    }
    .whyUs__flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 28px;
      margin: 40px 0 0 0;
      .whyUs__flex-elem {
        // background: rgba(119, 119, 119, 0.3);
        background: rgb(92, 92, 92);
        cursor: default;
        flex: 330px 0 1;
        color: #fff;
        border-radius: 5px;
        padding: 15px;
        height: 250px;
        box-sizing: border-box;
        .image {
          width: 60px;
          height: 60px;
          margin: 0 auto;
          background-size: 55px;
          background-position: center;
          background-repeat: no-repeat;
        }
        .elem-1 {
          background-image: url(../img/high-quality.svg);
        }
        .elem-2 {
          background-image: url(../img/premium-badge.svg);
        }
        .elem-3 {
          background-image: url(../img/gear.svg);
        }
        @media (max-width: 400px) {
          height: 270px;
        }
      }
    }
  }
  .about {
    padding: 45px 0 30px;
    // background-color: #eff2f6;
    background: #fff;
    h3 {
      text-align: center;
      margin: 0;
      font-size: 22px;
    }
    p {
      line-height: 25px;
      color: #818181;
      margin: 25px 0;
    }
    .about__btn-more {
      display: block;
      width: max-content;
      margin: 0 auto;
      font-size: 16px;
      color: #fff;
      background: #81afe4;
      border-radius: 5px;
      padding: 15px 25px;
      transition: 0.2s;
      &:hover {
        background: #5c9be4;
      }
    }
  }
}
.footer {
  background: #404041;
  padding: 40px 0 20px;
  .footer__container {
    display: flex;
    justify-content: space-between;
    .footer__elem {
      display: flex;
      flex: 24% 0 0;
      gap: 20px;
      align-items: center;
      a {
        display: block;
        color: #cfcfcf;
        font-size: 14px;
        transition: 0.2s;
        &:hover {
          color: #013559;
        }
      }
      .footer__logo {
        width: 204px;
      }
      .footer__icon {
        width: 28px;
      }
    }
  }
  .info {
    color: #696969;
    text-align: center;
    padding: 55px 0 0 0;
  }
  @media (max-width: 850px) {
    .footer__container {
      justify-content: center;
      gap: 25px;
      .footer__elem {
        flex: 180px 0 0;
      }
    }
  }
  @media (max-width: 650px) {
    .footer__container {
      flex-direction: column;
      gap: 30px;
      .footer__elem {
        flex: auto 0 1;
        justify-content: center;
      }
    }
  }
  @media (max-width: 400px) {
    .footer__container .footer__elem {
      justify-content: flex-start;
    }
  }
}

//#292b37
