@media (max-width: 700px) {
  body.lock {
    overflow: hidden;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 40px;
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5 {
  color: #212121;
  margin: 0;
}
p {
  font-size: 14px;
  color: #86878b;
  line-height: 1.43;
  margin: 0;
}
.line {
  margin: 30px 0;
  width: 64px;
  height: 2px;
}
a {
  text-decoration: none;
  font-family: Raleway;
}
.animation {
  animation-name: animationshow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes animationshow {
  0% {
    position: relative;
    top: -300px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
@media (max-width: 920px) {
  @keyframes animationshow {
    0% {
      position: relative;
      left: -300px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header::before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 22px 40px;
  align-items: center;
  position: relative;
}
.header .container .logo {
  width: 100px;
  position: relative;
  z-index: 3;
}
.header .container .header-burger {
  display: none;
}
.header .container nav ul {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 2;
}
.header .container nav ul li {
  margin: 0 0 0 25px;
}
.header .container nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.69);
  transition: 0.2s;
}
.header .container nav ul li a:hover {
  color: #fff;
}
@media (max-width: 700px) {
  .header .container .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header .container .header-burger span {
    position: absolute;
    background: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header .container .header-burger:before,
  .header .container .header-burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.2s;
  }
  .header .container .header-burger:before {
    top: 0;
  }
  .header .container .header-burger:after {
    bottom: 0;
  }
  .header .container .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .container .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .container .header-burger.active span {
    transform: scale(0);
  }
  .header .container nav {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #ff8b38;
    padding: 90px 0 0 0;
    transition: 0.2s;
  }
  .header .container nav.active {
    top: 0;
  }
  .header .container nav ul {
    display: block;
  }
  .header .container nav ul li {
    margin: 0 0 20px 15px;
  }
}
.main .head-section {
  position: relative;
  background-image: url(../images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.main .head-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.main .head-section .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .head-section .container .content {
  max-width: 95%;
}
.main .head-section .container .content .big-image-logo {
  transform: translateY(-20px);
}
.main .head-section .container .content h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}
.main .head-section .container .content .line {
  background-color: #fff;
}
.main .head-section .container .content .big-p {
  font-size: 16px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Raleway', sans-serif;
  line-height: 1.44;
  font-weight: 300;
}
.main .head-section .container .content .download-button {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 10px 30px;
  margin: 40px 0 0;
  border: 1px solid #fff;
  transition: 0.2s;
}
.main .head-section .container .content .download-button:hover {
  background-color: #fff;
  color: black;
}
.main .head-section .container .block-form {
  position: relative;
  max-width: 360px;
  max-height: 360px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.main .head-section .container .block-form h3 {
  color: #333333;
  padding: 15px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.main .head-section .container .block-form h3 a {
  text-decoration: none;
  color: #ff8b38;
}
.main .head-section .container .block-form .form {
  width: 285px;
  margin: 0 auto;
}
.main .head-section .container .block-form .form input {
  display: block;
  position: relative;
  margin: 35px 0 0 0;
  padding: 0 0 5px 10px;
  box-sizing: border-box;
  width: 100%;
  background: none;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
.main .head-section .container .block-form .form input:focus {
  outline: none;
  border-bottom: 1px solid #ff8b38;
}
.main .head-section .container .block-form .form input::placeholder {
  color: #bdbdbd;
}
.main .head-section .container .block-form .form input.submit {
  border: none;
  color: #fff;
  background: #ff8b38;
  position: absolute;
  font-size: 15px;
  padding: 20px;
  font-weight: 600;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: 0.2s;
}
.main .head-section .container .block-form .form input.submit:hover {
  background: #ff6a38;
}
@media (max-width: 920px) {
  .main .head-section {
    padding: 140px 0 80px;
  }
  .main .head-section .container {
    display: block;
  }
  .main .head-section .container .block-form {
    margin-left: 0;
    margin: 50px auto 0;
    height: 370px;
  }
}
.main .article-menu {
  padding: 20px 0;
}
.main .article-menu .container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  align-items: center;
}
.main .article-menu .container .text p {
  margin: 5px 0 0 0;
}
.main .article-menu .container nav {
  align-items: center;
}
.main .article-menu .container nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.main .article-menu .container nav ul li a img {
  width: 46px;
}
@media (max-width: 1120px) {
  .main .article-menu {
    display: none;
  }
}
.main .main-content-1 {
  padding: 100px 0;
  background: #f5f5f5;
}
.main .main-content-1 .container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px;
}
.main .main-content-1 .container .tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .main-content-1 .container .tabs li input {
  padding: 45px 35px;
  background-color: #212121;
  font-size: 15px;
  border: 1px solid #86878b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.main .main-content-1 .container .tabs li input:focus {
  outline: 0;
  background-color: #ff8b38;
}
.main .main-content-1 .container .slider {
  display: none;
  position: relative;
  grid-template-columns: 1.5fr 1fr;
  gap: 100px;
}
.main .main-content-1 .container .slider .content-text h3 {
  margin-bottom: 50px;
}
.main .main-content-1 .container .slider .content-text p {
  margin: 0;
}
.main .main-content-1 .container .slider .content-text .download-button {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  background: #ff8b38;
  padding: 10px 25px;
  margin: 40px 0 0;
  transition: 0.2s;
}
.main .main-content-1 .container .slider .content-text .download-button:hover {
  background: #ff6a38;
}
.main .main-content-1 .container .slider .image img {
  width: 100%;
}
.main .main-content-1 .container .slider.slider-1 {
  display: grid;
}
@media (max-width: 1120px) {
  .main .main-content-1 {
    padding: 50px;
  }
  .main .main-content-1 .container {
    gap: 50px;
  }
  .main .main-content-1 .container .slider {
    gap: 50px;
  }
}
@media (max-width: 920px) {
  .main .main-content-1 .container {
    display: block;
  }
  .main .main-content-1 .container .tabs {
    width: max-content;
    margin: 0 auto 50px;
    letter-spacing: -1em;
  }
  .main .main-content-1 .container .tabs li {
    display: inline-block;
  }
}
@media (max-width: 750px) {
  .main .main-content-1 .container {
    padding: 0;
  }
  .main .main-content-1 .container .slider {
    grid-template-columns: 1fr;
  }
  .main .main-content-1 .container .slider .image img {
    display: none;
  }
}
@media (max-width: 400px) {
  .main .main-content-1 .container .tabs {
    display: none;
  }
}
.main .main-content-2 {
  padding: 110px 0;
}
.main .main-content-2 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}
.main .main-content-2 .container img {
  width: 100%;
}
.main .main-content-2 .container .content-text .line {
  background: #ff8b38;
}
.main .main-content-2 .container .content-text .grid-list {
  display: grid;
  gap: 25px;
  margin: 40px 0 0 0;
}
.main .main-content-2 .container .content-text .grid-list .list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
}
.main .main-content-2 .container .content-text .grid-list .list-item img {
  width: 40px;
}
.main .main-content-2 .container .content-text .grid-list .list-item .text p {
  margin: 10px 0 0 0;
}
@media (max-width: 1120px) {
  .main .main-content-2 .container {
    gap: 50px;
  }
}
@media (max-width: 750px) {
  .main .main-content-2 {
    padding: 60px 0;
  }
  .main .main-content-2 .container {
    display: block;
  }
  .main .main-content-2 .container img {
    display: block;
    max-width: 450px;
    margin: 0 auto;
  }
}
.main .main-content-3 {
  padding: 75px 0;
  background: #f5f5f5;
}
.main .main-content-3 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
}
.main .main-content-3 .container .content-text .line {
  background-color: #ff8b38;
}
.main .main-content-3 .container img {
  width: 100%;
}
@media (max-width: 920px) {
  .main .main-content-3 .container {
    gap: 60px;
  }
}
@media (max-width: 750px) {
  .main .main-content-3 {
    padding: 60px 0;
  }
  .main .main-content-3 .container {
    display: block;
  }
  .main .main-content-3 .container img {
    display: block;
    max-width: 450px;
    margin: 25px auto 0;
  }
}
.main .main-content-4 {
  padding: 100px 0;
  text-align: center;
}
.main .main-content-4 .container .title .line {
  background: #ff8b38;
  margin: 30px auto;
}
.main .main-content-4 .container .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 70px;
}
.main .main-content-4 .container .grid-wrapper .grid-item h3 {
  padding: 20px 0;
}
.main .main-content-4 .container .grid-wrapper .grid-item p {
  margin: 0;
}
@media (max-width: 768px) {
  .main .main-content-4 .container .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .main .main-content-4 .container .grid-wrapper .grid-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .main .main-content-4 .container .grid-wrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .main .main-content-4 .container .grid-wrapper .grid-item:nth-child(3) {
    grid-column-end: 1;
    max-width: max-content;
  }
}
.main .price-wrapper {
  padding: 100px 0;
  text-align: center;
  background: #f5f5f5;
}
.main .price-wrapper .container .title .line {
  background: #ff8b38;
  margin: 30px auto;
}
.main .price-wrapper .container .title p {
  margin: 0;
}
.main .price-wrapper .container .price-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 70px 0 0 0;
}
.main .price-wrapper .container .price-items .link {
  cursor: pointer;
  background: #333;
}
.main .price-wrapper .container .price-items .link a {
  display: block;
  color: #fff;
}
.main .price-wrapper .container .price-items .link a.version {
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}
.main .price-wrapper .container .price-items .link a.price {
  font-size: 94px;
  font-weight: bold;
}
.main .price-wrapper .container .price-items .link a.price .sub {
  font-size: 35px;
}
.main .price-wrapper .container .price-items .link .under-text {
  padding: 5px 0 15px 0;
  margin: 0;
}
.main .price-wrapper .container .price-items .link .long-line {
  padding: 5px 0;
  background: #ff8b38;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.main .price-wrapper .container .price-items .link .long-line.line-text {
  padding: 10px 0;
}
.main .price-wrapper .container .price-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .price-wrapper .container .price-items ul li {
  background: #fff;
  color: #86878b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 0;
  margin: 1px 0;
}
@media (max-width: 920px) {
  .main .price-wrapper .container .price-items .link a.price {
    font-size: 80px;
  }
  .main .price-wrapper .container .price-items .link a.price.sub {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .main .price-wrapper .container .price-items {
    grid-template-columns: 1fr 1fr;
  }
  .main .price-wrapper .container .price-items .price-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .main .price-wrapper {
    padding: 60px 0;
  }
  .main .price-wrapper .container .price-items {
    grid-template-columns: 1fr;
  }
  .main .price-wrapper .container .price-items .price-item {
    width: 250px;
    margin: 0 auto;
  }
  .main .price-wrapper .container .price-items .price-item:last-child {
    grid-column-end: 1;
    width: 250px;
  }
}
.main .reviews {
  padding: 100px 0;
}
.main .reviews .container .title {
  text-align: center;
}
.main .reviews .container .title .line {
  background: #ff8b38;
  margin: 30px auto;
}
.main .reviews .container .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 0 0 0;
  gap: 120px;
}
.main .reviews .container .grid-wrapper .grid-item .review {
  padding: 24px 13px;
  background: #f5f5f5;
  font-style: italic;
  margin: 0 0 10px 0;
}
.main .reviews .container .grid-wrapper .grid-item .persone {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1120px) {
  .main .reviews .container .grid-wrapper {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .main .reviews .container .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .main .reviews .container .grid-wrapper .grid-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .main .reviews {
    padding: 60px 0;
  }
  .main .reviews .container .grid-wrapper {
    grid-template-columns: 1fr;
  }
  .main .reviews .container .grid-wrapper .grid-item {
    max-width: 300px;
    margin: 0 auto;
  }
  .main .reviews .container .grid-wrapper .grid-item:last-child {
    grid-column-end: 1;
  }
}
.main .our-design {
  padding: 70px 0 60px 0;
  background-image: url(../images/u-25-state-0.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.main .our-design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.main .our-design .container {
  position: relative;
}
.main .our-design .container h2,
.main .our-design .container p {
  color: #fff;
}
.main .our-design .container .line {
  background: #fff;
  margin: 30px auto;
}
.main .our-design .container .download-button {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 10px 30px;
  margin: 35px auto 0;
  border: 1px solid #fff;
  transition: 0.2s;
}
.main .our-design .container .download-button:hover {
  background-color: #fff;
  color: black;
}
.main .contact-us {
  padding: 100px 0 80px 0;
}
.main .contact-us .container .title {
  text-align: center;
}
.main .contact-us .container .title .line {
  margin: 30px auto;
  background-color: #ff8b38;
}
.main .contact-us .container .form .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 65px;
  margin: 80px 0 0;
}
.main .contact-us .container .form .grid-wrapper .login {
  display: grid;
  gap: 30px;
}
.main .contact-us .container .form .grid-wrapper input,
.main .contact-us .container .form .grid-wrapper textarea {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  resize: none;
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0 0 0 12px;
}
.main .contact-us .container .form .grid-wrapper input::placeholder,
.main .contact-us .container .form .grid-wrapper textarea::placeholder {
  color: #bdbdbd;
}
.main .contact-us .container .form .grid-wrapper input:focus,
.main .contact-us .container .form .grid-wrapper textarea:focus {
  outline: none;
  border-bottom: 1px solid #ff8b38;
}
.main .contact-us .container .form .message {
  display: block;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 35px auto 0;
  background: #ff8b38;
  transition: 0.2s;
}
.main .contact-us .container .form .message:hover {
  background: #ff6a38;
}
@media (max-width: 550px) {
  .main .contact-us {
    padding: 60px 0;
  }
  .main .contact-us .container .form .grid-wrapper {
    grid-template-columns: 1fr;
  }
  .main .contact-us .container .form .grid-wrapper input {
    padding: 0 0 5px 12px;
  }
}
.footer {
  background-color: black;
  padding: 25px 0 15px;
}
.footer .links {
  width: 340px;
  margin: 0 auto;
}
.footer .links ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .links ul li a img {
  width: 23px;
}
.footer .company {
  margin: 10px 0 0 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
