@import "mixins";


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    &::before{
        content: '';
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 22px 40px;
        align-items: center;
        position: relative;
        // z-index: 2;

        .logo {
            width: 100px;
            position: relative;
            z-index: 3;
        }
        .header-burger{
            display: none;
        }

        nav {
            ul {
                display: grid;
                grid-auto-flow: column;
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                z-index: 2;

                li {
                    margin:  0 0 0 25px;
                    a {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.69);
                        transition: .2s;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 700px){
        .container{
            .header-burger{
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                position: relative;
                z-index: 3;

                span{
                    position: absolute;
                    background: #ffffff;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    top: 9px;

                }
                &:before,
                &:after{
                    content: '';
                    background-color: #fff;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: .2s;
                }
                &:before{
                    top: 0;
                }
                &:after{
                    bottom: 0;
                }
                &.active:before{
                    transform: rotate(45deg);
                    top: 9px
                }
                &.active:after{
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                &.active span{
                    transform: scale(0);
                }
            }
            nav{
                position: fixed;
                top: -100%;
                left: 0;
                overflow: auto;
                width: 100%;
                height: 100%;
                background: @orange;
                padding: 90px 0 0 0;
                transition: .2s;

                &.active{
                    top: 0;
                }
                    ul{
                        display: block;
                            li{
                                margin: 0 0 20px 15px;
                            }
                    }
            }
        }
    }
}


.main {
    .head-section {
        position: relative;
        background-image: url(../images/image.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 140px 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);

        }

        .container {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .content {
                max-width: 95%;

                .big-image-logo {
                    transform: translateY(-20px);
                }

                h1 {
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: normal;
                    margin: 0;
                }

                .line {
                    background-color: #fff;
                }

                .big-p {
                    font-size: 16px;
                    margin: 0;
                    color: rgba(255, 255, 255, 0.7);
                    font-family: 'Raleway', sans-serif;
                    line-height: 1.44;
                    font-weight: 300;
                }

                .download-button {
                    display: inline-block;
                    font-size: 15px;
                    color: #fff;
                    padding: 10px 30px;
                    margin: 40px 0 0;
                    border: 1px solid #fff;
                    transition: .2s;

                    &:hover {
                        background-color: #fff;
                        color: black;
                    }
                }
            }

            .block-form {
                position: relative;
                max-width: 360px;
                max-height: 360px;
                margin-left: auto;
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;

                h3 {
                    color: #333333;
                    padding: 15px;
                    background-color: @bg-color;
                    text-align: center;
                    border-radius: 5px 5px 0 0;


                    a {
                        text-decoration: none;
                        color: @orange;
                    }
                }

                .form {
                    width: 285px;
                    margin: 0 auto;
                    padding: 0 20px;

                    input {
                        display: block;
                        position: relative;
                        margin: 35px 0 0 0;
                        padding: 0 0 5px 10px;
                        box-sizing: border-box;
                        width: 100%;
                        background: none;
                        color: #bdbdbd;
                        border: none;
                        border-bottom: 1px solid #bdbdbd;
    
                        &:focus {
                            outline: none;
                            border-bottom: 1px solid @orange;
                        }
                        &::placeholder{
                            color: #bdbdbd;
                        }

                        &.submit {
                            border:none;
                            color: #fff;
                            background: @orange;
                            position: absolute;
                            font-size: 15px;
                            padding: 20px;
                            font-weight: 600;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            cursor: pointer;
                            transition: .2s;
                                &:hover{
                                    background: spin(@orange, -10%);
                                }
                        }
                    }
                }
            }
        }
        @media(max-width: 920px){
            padding: 140px 0 80px;
            .container{
                display: block;
                    .block-form{
                        margin-left: 0;
                        margin: 50px auto 0;
                        height: 370px;
                    }
            }
        }
    }
    .article-menu{
        padding: 20px 0;
            .container{
                display: grid;
                grid-template-columns: 1fr 1.4fr;
                align-items: center;
                    .text p{
                        margin: 5px 0 0 0;
                    }
                    nav{
                        align-items: center;
                        ul{
                            list-style: none;
                            display: grid;
                            grid-auto-flow: column;
                            gap: 10px;
                            margin: 0;
                            padding: 0;
                                li  a img{ 
                                    width: 46px;
                                
                            }
                        }
                    }
            }
            @media (max-width:1120px){
                display: none;
            }
    }
    .main-content-1{
        padding: 100px 0;
        background: @bg-color;
            .container{
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 100px;
                .tabs{    
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        input{
                            padding: 45px 35px;
                            background-color: #212121;
                            font-size: 15px;
                            border: 1px solid #86878b;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                                &:focus{
                                    outline: 0;
                                    background-color: @orange;
                                }
                        }
                    }
                }
                
                .slider{
                    display: none;
                    position: relative;
                    grid-template-columns: 1.5fr 1fr;
                    gap: 100px;
                    .content-text{
                        h3{
                            margin-bottom: 50px;
                        }
                        p{
                            margin: 0;
                        }
                        .download-button {
                            display: inline-block;
                            font-size: 15px;
                            color: #fff;
                            background: @orange;
                            padding: 10px 25px;
                            margin: 40px 0 0;
                            transition: .2s;
        
                            &:hover {
                                background: spin(@orange, -10%);
                            }
                        }
                    }
                    .image img{
                        width: 100%;
                    }
                        &.slider-1{
                            display: grid;
                        }
                        
                }
            }
            @media(max-width: 1120px){
                padding: 50px;
                .container{
                    gap: 50px;
                    .slider{
                        gap: 50px;
                    }
                }
            }
            @media(max-width: 920px){
                .container{
                    display: block;
                    .tabs{
                        width: max-content;
                        margin: 0 auto 50px;
                        letter-spacing: -1em;
                        li{
                            display: inline-block;
                        }
                    }
                }
            }
            @media(max-width:750px){
                .container{
                    padding: 0;
                    .slider{
                        grid-template-columns: 1fr;
                        .image img{
                            display: none;
                        }   
                    }
                }
            }
            @media(max-width: 400px){
                .container{
                    .tabs{
                        display: none;
                    }
                }
            }
    }
    .main-content-2{
        padding: 110px 0;
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 130px;
            img{
                width: 100%;
            }
                .content-text{
                    .line{
                        background: @orange;
                    }
                    .grid-list{
                        display: grid;
                        gap: 25px;
                        margin: 40px 0 0 0;
                        .list-item{
                            display: grid;
                            grid-template-columns: auto 1fr;
                            gap: 25px;
                                img{
                                    width: 40px;
                                }
                                .text p{
                                    margin: 10px 0 0 0;
                                }
                        }
                    }
                }
        }
        @media (max-width:1120px){
         .container{
             gap: 50px;
         }   
        }
        @media(max-width: 750px){
            padding: 60px 0;
            .container{
                display: block;
                    img{
                        display: block;
                        max-width: 450px;
                        margin: 0 auto
                    }
            }
        }
    }
    .main-content-3{
        padding: 75px 0;
        background: @bg-color;
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 130px;
            .content-text{
                .line{
                    background-color:  @orange;
                }
            }
            img{
                width: 100%;
            }
        }
        @media(max-width: 920px){
            .container{
                gap: 60px;
            }
        }
        @media(max-width: 750px){
            padding: 60px 0;
            .container{
                display: block;
                    img{
                        display: block;
                        max-width: 450px;
                        margin: 25px auto 0;
                    }
            }
        }
    }
    .main-content-4{
        padding: 100px 0;
        text-align: center;
        .container{
            .title .line{
                        background: @orange;
                        margin: 30px auto;
            }
            .grid-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                margin-top: 70px;
                .grid-item{
                    h3{
                        padding: 20px 0;  
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
        @media(max-width: 768px){
            .container{
                .grid-wrapper{
                    grid-template-columns: 1fr 1fr;
                    .grid-item:nth-child(3){
                        grid-column-start: 1;
                        grid-column-end: 3;
                        max-width: 350px;
                        margin: 0 auto;
                    }
                }
            }
        }
        @media(max-width: 550px){
                .container .grid-wrapper{
                    grid-template-columns: 1fr;
                    gap: 50px;
                    .grid-item:nth-child(3){
                        grid-column-end: 1;
                        max-width: max-content;
                    }
                }
        }
    }
    .price-wrapper{
        padding: 100px 0;
        text-align: center;
        background: @bg-color;
            .container{
                .title{
                    .line{
                        background: @orange;
                        margin: 30px auto
                    }
                    p{
                        margin: 0;
                    }
                }
                .price-items{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 40px;
                    margin: 70px 0 0 0;
                        .link{
                            cursor: pointer;
                            background: #333;
                            a{
                                display: block;
                                color: #fff;
                                    &.version{
                                        padding: 15px 0;
                                        border-bottom: 1px solid #fff;
                                    }
                                    &.price{
                                       
                                        font-size: 94px;
                                        font-weight: bold;
                                            .sub{
                                                font-size: 35px;
                                            }
                                    }
                            }
                            .under-text{
                                padding: 5px 0 15px 0;
                                margin: 0;
                            }
                            .long-line{
                                padding: 5px 0;
                                background: @orange;
                                color: #fff;
                                font-weight: bold;
                                font-size: 14px;
                                    &.line-text{
                                        padding: 10px 0;
                                    }
                            }
                        }
                        ul{
                            list-style: none;
                            margin: 0;
                            padding: 0;
                                li{
                                    background: #fff;
                                    color: #86878b;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    padding: 14px 0;
                                    margin: 1px 0;
                                }
                        }
                        
                }
            }
            @media(max-width: 920px){
                .container{
                    .price-items .link{
                        a{
                            &.price{
                                font-size: 80px;
                                &.sub{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
            @media(max-width: 768px){
                .container{
                    .price-items{
                        grid-template-columns: 1fr 1fr;
                            .price-item:last-child{
                                grid-column-start: 1;
                                grid-column-end: 3;
                                width: 50%;
                                margin: 0 auto;
                            }
                    }
                }
            }
            @media(max-width: 550px){
                padding: 60px 0;
                .container .price-items{
                    grid-template-columns: 1fr;
                    .price-item{
                       width: 250px;
                       margin: 0 auto;
                    }
                    .price-item:last-child{
                        grid-column-end: 1;
                        width: 250px;
                       
                    }
                }
            }
    }
    .reviews{
        padding: 100px 0;

        .container{
            .title{
                text-align: center;
                .line{
                    background:@orange;
                    margin: 30px auto;
                }
            }
            .grid-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin: 50px 0 0 0;
                gap: 120px;
                    .grid-item{
                        .review{
                            padding: 24px 13px;
                            background: #f5f5f5;
                            font-style: italic;
                            margin: 0 0 10px 0;
                        }
                        .persone{
                            display: grid;
                            grid-template-columns: auto 1fr;
                            align-items: center;
                            gap: 15px;
                        }
                    }
            }
        }
        @media(max-width: 1120px){
            .container{
                .grid-wrapper{
                    gap: 50px;
                }
            }
        }
        @media(max-width: 768px){
            .container{
                .grid-wrapper{
                    grid-template-columns: 1fr 1fr;
                    .grid-item:last-child{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        max-width: 300px;
                        margin: 0 auto;
                    }
                }
            }
        }
        @media(max-width: 550px){
            padding: 60px 0;
            .container .grid-wrapper{
                grid-template-columns: 1fr;
                .grid-item{
                    max-width: 300px;
                    margin: 0 auto;
                }
                .grid-item:last-child{
                    grid-column-end: 1;
                }
            }
        }
    }
    .our-design{
        padding: 70px 0 60px 0;
        background-image: url(../images/u-25-state-0.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }
            .container{
                position: relative;
                h2,p{
                    color: #fff;
                }
                .line{
                    background: #fff;
                    margin: 30px auto;
                }
                .download-button {
                    display: inline-block;
                    font-size: 15px;
                    color: #fff;
                    padding: 10px 30px;
                    margin: 35px auto 0;
                    border: 1px solid #fff;
                    transition: .2s;

                    &:hover {
                        background-color: #fff;
                        color: black;
                    }
                }
            }
    }
    .contact-us{
        padding: 100px 0 80px 0;
        .container{
            .title{
                text-align: center;
                .line{
                    margin: 30px auto;
                    background-color: @orange;
                }
            }
            .form{
               .grid-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 65px;
                margin: 80px 0 0;

                .login{
                    display: grid;
                    gap: 30px;
                }

                input,textarea{
                    border: none;
                    border-bottom: 1px solid #bdbdbd;
                    resize: none;
                    color: #bdbdbd;
                    font-family: 'Open Sans', sans-serif;
                    box-sizing: border-box;
                    padding: 0 0 0 12px;
                        &::placeholder{
                            color: #bdbdbd;
                        }
                        &:focus{
                            outline: none;
                            border-bottom: 1px solid @orange;
                        }
                    }
               }
               .message {
                display: block;
                font-size: 15px;
                color: #fff;
                border: none;
                padding: 12px 20px;
                margin: 35px auto 0;
                background: @orange;
                transition: .2s;

                &:hover{
                    background: spin(@orange, -10%);
                    }
                } 
            }
        }
        @media(max-width: 550px){
            padding: 60px 0;
            .container .form .grid-wrapper{
                    grid-template-columns: 1fr; 
                        input{
                            padding: 0 0 5px 12px;
                        }
            }
        }
    }
}
.footer{
    background-color: black;
    padding: 25px 0 15px;
        .links{
            width: 340px;
            margin: 0 auto;
                ul{
                    display: grid;
                    grid-auto-flow: column;
                    position: relative;
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                        li a img{
                        width: 23px;
                        }
                }
            }
    .company{
        margin: 10px 0 0 0;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
    }
}