@import "mixins";

.header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 50px 0;
    align-items: center;
        nav{
            ul{
                display: grid;
                grid-auto-flow: column;
                padding: 0;
                margin: 0 20px 0 0 ;
                list-style: none;
           
                li{
                    padding: 0 17px;
                    a{
                        text-decoration: none;
                        color: #b8becd;
                        transition: .2s ease-in-out;
                        font-weight: 500;
                            &:hover{
                                color: #202336;
                            }
                    }
                    &:nth-child(5) a,
                    &:nth-child(6) a{
                        padding: 12px 50px;
                        color: @orange;
                        border: 1px solid @orange;
                        border-radius: 5px;
                            &:hover{
                                color: #fff;
                                background-color: @orange;
                            }
                    }
                }
            }
        }   
}
main{
    .section-one{
        position: relative;
        padding: 80px 0;
        .container{
            display: grid;
            grid-template-columns: 1fr 1.3fr;
            gap: 130px;
            align-items: center;
            .content-text{
                h1{
                    margin:0 0 70px;
                }
                .form-name{
                    font-family: 'Inter', sans-serif;
                    font-size: 22px;
                    font-weight: 600;
                    color: #202336;
                }
                .under-line{
                    width: 32px;
                    height: 2px;
                    border-radius: 4px;
                    background-color: #202336;
                    margin: 20px 0 45px;
                }
                .form-finder{
                   .grid-form-block{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                    select{
                        font-family: 'Inter', sans-serif;
                        background: #fff url(../img/arrow-select.png) no-repeat 90% 50%;
                        background-size: 10px;
                        padding: 12px 0 12px 20px;
                        box-sizing: border-box;
                        color: #202336;
                        border-radius: 5px;
                        border: 1px solid #afb0b9;
                        -webkit-appearance: none;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
            .image-block{
                width: 100%;
            }
        }
        .img-abs-1{
            left: 35%;
            top: 210px;
        }
        .img-abs-2{
            left: 3%;
            top: 45%;
        }
        .img-abs-3{
            left: 47%;
            bottom: 120px;
        }
    }
    .section-two{
        padding: 80px 0;
        position: relative;
        .container{
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            gap: 130px;
            align-items: center;
            .image-block{
                width: 100%;
            }
        }
        .img-abs-11{
            top: 80px;
            left: 55%;
        }
        .img-abs-12{
            bottom: 200px;
            right: 30%;
        }
    }
    .section-three{
        position: relative;
        padding: 80px 0;
        .container{
            .text{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 55px 0;
                h2{
                    margin: 0 ;
                }
                    .link{
                        padding: 0 20px 0 0;
                        color: @orange;
                        background: url(../img/arrow-orange.png) no-repeat 95% 53%; 
                        background-size: 10px;
                    }
            }
            .location-wrapper{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
                max-width: 1150px;
                margin: 0 auto;
                    a{
                            img{
                                width: 100%;
                            }
                    }
            }
        }
        .img-abs-21{
            top: 50px;
            right: 30%;
        }
        .img-abs-22{
            top: 60%;
            left: 5%;
        }
        .img-abs-23{
            left: 50%;
        }
    }
    .section-four{
        position: relative;
        padding: 80px 0;
        .container{
            display: grid;
            grid-template-columns: 1fr 1.3fr;
            gap: 80px;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .img-abs-31{
            top: 100px;
            right: 100px;
        }
        .img-abs-32{
            top: 25%;
            left: 15%;
        }
        .img-abs-33{
            bottom: 250px;
            left: 40%;
        }
    }
    .section-five{
        position: relative;
        padding: 80px 0;
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 130px;
                .content-text .inside-content{
                    margin-top: 100px;
                    .stars{
                        display: grid;
                        padding: 0;
                        margin: 0;
                        grid-auto-flow: column;
                        max-width: 200px;
                        list-style: none;
                        
                    }
                    .quotes{
                        padding: 30px 0 40px 0;
                        font-family: Mulish;
                        font-size: 24px;
                        line-height: 1.5;
                    }
                }
                .section-five-photo{
                    justify-self: center;
                }
            }
            .img-abs-41{
                width: 35px;
                top: 50px;
                right: 15%;
            }
            .img-abs-42{
                top: 47%;
                left: 5%;
            }
    }
}